/* DESCRIPTION 

Information :

Auteurs / Mika / Benj / Stef
Date 23/11/2020
Name Project : MSB ( Musique super bien )
Version : 1.0.0
 
Colors :

Header   =
Body     =
Footer   =   
H1       =
P        =
BTN      =


*/

/* Global */

html {
    font-family: 'Prompt', sans-serif;
}

/* ===== HEADER ===== */

nav .navbar .flex-nav {
    height: 150px;
}

@media (max-width:430px) {
    nav .navbar .flex-nav {
        height: 300px;
    }
}

/* ===== OFFRE SPECIALE ===== */

.offre-speciale {
    margin-top: 20px;
    margin-bottom: 40px;
}

/* ===== CARDS OFFRE ===== */

.card {
    max-width: 500px;
    width: 350px;
}

@media screen and (max-width: 768px) {
    .card-offre .card-deck {
        display: flex;
        flex-direction: column;
    }
    .card-offre .card-deck .card {
        margin-bottom: 15px;
    }
}

.card-header {
    text-align: center;
    font-size: xx-large;
    font-weight: 600;
    background-color: #fff;
}

.card-footer {
    background-color: #fff;
}

.card-title {
    font-size: xx-large;
    font-weight: 600;
    text-align: center;
}

.card-title .little {
    font-size: 12px;
}

ul li {
    list-style: none;
    text-overflow: ellipsis;
}

.offre-none {
    opacity: 0.3;
}

ul li i {
    margin-right: 7px;
}

.fa-check {
    margin-right: 9px;
}

.fa-times {
    margin-right: 13.5px;
}

.card-text {
    text-align: center;
}

/* BUTTON */

.card-footer {
    padding: 0;
}

.draw-border {
    /* box-shadow: inset 0 0 0 2px #58cdd1; */
    color: #58afd1;
    transition: color 0.25s 0.0833333333s;
    position: relative;
}

.draw-border::before, .draw-border::after {
    border: 0 solid transparent;
    box-sizing: border-box;
    content: '';
    pointer-events: none;
    position: absolute;
    width: 0rem;
    height: 0;
    bottom: 0;
    right: 0;
}

.draw-border::before {
    border-bottom-width: 2px;
    border-left-width: 2px;
}

.draw-border::after {
    border-top-width: 2px;
    border-right-width: 2px;
}

.draw-border:hover {
    color: #456990;
}

.draw-border:hover::before, .draw-border:hover::after {
    border-color: #456990;
    transition: border-color 0s, width 0.25s, height 0.25s;
    width: 100%;
    height: 100%;
}

.draw-border:hover::before {
    transition-delay: 0s, 0s, 0.15s;
}

.draw-border:hover::after {
    transition-delay: 0s, 0.15s, 0s;
}

.btn {
    background: none;
    border: none;
    cursor: pointer;
    line-height: 1.5;
    font: 700 1.2rem 'Roboto Slab', sans-serif;
    padding: 0.75em 2em;
    letter-spacing: 0.05rem;
    margin: 0;
    width: 100%;
    border-radius: 0;
}

.btn:active {
    background-color: #456990;
    color: #fff;
}

/* PREMIUM */

#premium {
    box-shadow: 2.5px 2.5px 2.5px 2.5px rgb(138, 138, 138);
}

#premium:hover {
    background-color: rgb(123, 154, 255);
    color: #fff;
}

#premium:hover .card-header {
    background-color: rgb(123, 154, 255);
    color: #fff;
}

#premium:hover .card-footer {
    border: none;
}

#premium:hover a {
    color: #fff;
}

/* ===== AUTRES ABONNEMENTS ===== */

.abt {
    margin-top: 40px;
    margin-bottom: 40px;
    text-align: center;
    width: 100%;
}

.abt h3 {
    margin-top: 20px;
}

.btn-abt {
    margin-top: 5px;
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid black;
    border-radius: 30px;
    padding: 0.3rem 0.6rem;
}

.btn-abt:hover {
    background-color: black;
    color: #fff;
}

.abt .row {
    margin-bottom: 10px;
}

/* ===== FOOTER ===== */

.social-color {
    background-color: rgb(123, 154, 255);
}

.social-color i {
    color: white;
    cursor: pointer;
}

@media screen and (min-width: 768px) {
    .logo-MSB2 {
        margin-left: -50px;
        width: 150px;
        height: 150px;
    }
    .logo-MSB2 p {
        font-size: 50px;
    }
}