/* DESCRIPTION  for ADMIN

Information :

Auteurs / Mika / Benj / Stef
Date 23/11/2020
Name Project : MSB ( Musique super bien )
Version : 1.0.0
 
Colors :

Header   =
Body     =
Footer   =   
H1       =
P        =
a        = azure
BTN      =


*/


/* Global */



html{
    font-family: 'Prompt', sans-serif;
}

a,a:hover{
    color: azure;
    text-decoration: none;
}
h1{
    font-size: 60px;
    text-align: center;
    margin-bottom: 100px;

}
h2{
    text-decoration: underline;
    margin-bottom: 50px;
}
button a,button a:hover{
    text-decoration: none;
    color: azure;

}
.m-top-100{
    margin-top: 100px;
}
.m-bot-100{
    margin-bottom: 100px;
}
.separation::after{
    display: block;
    width: 80%;
    height: 4px;
    content: "";
    background-color:#000;
    margin: 200px auto;
}
/* Header*/

.color-text-azure{
    color: azure;
}
.flex-nav{
    display: flex;
    flex-flow: wrap row;
    justify-content: space-between;
}
/* Section1 */

.size-s1{
    height: 500px;
    text-align:center;
}
.btn-color1{
    margin: 95px auto;
}

/* section2 */

table{
    border-collapse: collapse;
    text-align: center;
    padding: 50px;
    margin: 10px;
    background: linear-gradient(to right,rgba(172, 34, 34,0.85),orange,rgb(211, 132, 5),orange,rgba(172, 34, 34,0.85));
    color: azure;
    font-weight: bolder;
    border-radius: 20px;   
}
th,td{
    
    padding: 10px; 
    width: 150px;
    height: 50px;
}
th{
  font-size: 22px;  
}
.w-300{
    width: 300px;
}
/* section3 */
.w-100{
    width: 100%;
}

/* graphique */

#chart {
    max-width: 650px;
    
}
.flex{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    width: 80%;
    
    align-content: center;
    height: 550px;
    margin: 50px auto;

}
.flex1{
    display: flex;
    flex-flow: column wrap;
    flex: 1 0px;
    height: 500px;
    
}
.flex2{
    display: flex;
    flex-flow: column wrap;
    flex: 1 0px;
    text-align: center;
}
.text-align{ 
    text-align: center;
}
