/* DESCRIPTION 

Information :

Auteurs / Mika / Benj / Stef
Date 23/11/2020
Name Project : MSB ( Musique super bien )
Version : 1.0.0
 
Colors :

Header   =
Body     =
Footer   =   
H1       =
P        =
BTN      =


*/


/* Global */

html{
    font-family: 'Prompt', sans-serif;
    
}
header{
    display: flex;
    flex-direction: column ;
    
}

.titre{
display: flex;
justify-content: center;
align-items: flex-end;
    width: 200Px;
    height: 100px;
    display: none;

}
/*nav bar
====================*/
.titre-2{
text-align: center;
margin-left: 40px;
}
.search-menu{
    height: 100px;


}
  
.search{
 
    height:50PX ;
   display: flex;
   
   justify-content: space-around;

}

.bar{
         
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}
input{
    width: 90%;
    margin-left: 15px;
}
.icone{
    
    width: 10%;
    height: 50PX;
    display: flex;
    justify-content: space-evenly;
}
i{
    font-size: 200%;
    height: 50PX;
    position: relative;
    right: 20PX;
    top:5PX
}
.photo-profile{
    width: 40PX;
    height: 50PX;
    border-radius:20px ;
   
}
table{
    margin-left: 100px;
}
.menu-nav{
    border: 1px black solid;
    display: flex ;
    flex-direction: column;
    align-items: center;
    height: 850px;
    width: 10%;
    border-radius: 10px;
    position: relative;
    top: 50px;
    margin-top: 20px;
}
 .menu-2{
     display: flex;
     flex-direction: column;
    justify-content: space-evenly;
    margin-top: 20px;
    height: 200px;
    position: fixed;
     
 }

.menu{
    border:1px  black solid ;
    height: 50PX;
    display: flex;
    justify-content: space-around;
    align-items: center;
    display: none;
    

}
.nav-2 a{
   color:  rgb(211, 132, 5) ;
}
.musique{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.photo-musique img {
    transition: transform .2s;
}
.photo-musique img:hover {
    transform: scale(1.2);
}

.photo-musique{
    width: 70%;
    align-self: center;
    text-align: center;
}
.titre-music {
    margin-top: 15px;
    width: auto;
    align-self: center;
   
    text-align: center;
}
.bar-music{
    border: 1px black solid;
    border-radius: 20px;
    height: 50px;
    width: 100%;
    position: fixed;
    bottom: 0px;
    z-index:  1; 
    background-color: white;
    display: flex;
    justify-content: space-around;
    
}
.befor{
    margin-right: 5px;
}
.after{
   margin-right: 5px;
}

.lecture{
    width: 50%;
    display: flex;

}
.reapt{
    display: flex;
    width: 20px;
    justify-content: f;
}
.logo-2{
    margin-left: 30px;
}
.slide{
    width: 50%;
}
.playliste{
 
    display: flex;
    flex-direction: column;
    justify-content: ;

}
.titre-playlist{
 
    display: flex;
    justify-content: center;
}
.titre-playlist h3{
    border-bottom:3px black solid ;
    margin-top: 15px;
}
.contain{
    
    height: 300px;
    margin-top: 10Px;
    display: flex;
   justify-content: center;
  
}
.block-playlist{
   border: 1px  black solid;
   height: 75%;
   margin-top: 5px;
   margin-left: 40px;
   border-radius: 5px;
}
.block-playlist:hover{
    transform: scale(1.1);
}
.btn-p{
   text-align: center;
}
.side{
    color:  rgb(211, 132, 5) ;;
}
 .logo-MSB3{
    background-image: url(/ressources/image/disque.jpg);
    background-size: cover;
    border: none;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    margin: auto;
    content: "MSB";
    display: flex;
    justify-content: center;
    align-items: center;
 }
 .logo-MSB3 p{
     color: white;
     text-decoration: uppercase;
     font-size:30px;
     font-family: 'Bungee Shade', cursive;
 }
.btn-play{
font-size: 50px;  
}
.menu-deroulant{
    display: flex;
    width: 100%;
    

}

.fa-user-circle {
    font-size: x-large;
    color: black;
}

.modif-mg {
    margin-bottom: 20px;
}
.dropbtn {
    border: none;
    background-color: transparent;
    color: #fff;
    cursor: pointer;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #ffffff;
    min-width: 50px;
    left: -50px;
    max-width: 350px;
    width: 300px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    

}

#drop-profile {
    /* left: -140px; */
}

.dropdown-content a {
    color: black;
    padding: 12px;
    text-decoration: none;
    display: flex;
    justify-content: center;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:focus-within .dropdown-content {
    display: block;
}

.fa-user-circle {
    font-size: 50px;
}





 @media screen and (max-width:800px)  { 
     header{
         display: flex;
         justify-content: center;
      
     }
    
    .titre {
        display: flex;
        justify-content: center;
        align-items: center;
            width: 400Px;
            height: 50px;
     }
    .titre-2{
        display: none;

    }

     .search-menu{
         border: 1px black solid ;
         height: 100px;

     }
     
     .search{
         border: 1px  black solid;
         height:50PX ;
        display: flex;

     }
     .bar{
         
         width: 70%;
         display: flex;
         justify-content: center;
         align-items: center;
     }
     input{
         width: 100%;
         margin-left: 5px;
     }
     .icone{
         
         width: 30%;
         height: 50PX;
         display: flex;
         justify-content: flex-end;
     }
     i{
         font-size: 200%;
         height: 50PX;
         position: relative;
         right: 20PX;
         top:5PX
     }
     .photo-profile{
         width: 40PX;
         height: 50PX;
         border-radius:20px ;
         margin-bottom: 10px;
         object-fit: cover;
     }
     .menu{
         border:1px  black solid ;
         height: 50PX;
         display: flex;
         justify-content: space-around;
         align-items: center;
     }
     .menu-nav{
         display: none;
         
     }

     
     .musique{
        
         height: 400px;
         display: flex;
         flex-direction: column;
         width: 100%;

     }
     .photo-musique{
         width: 100%;
        height: 300px;
        display: flex;
        justify-content: center;
        align-items: center;

     }
     .photom{
         width: 200px;
         height: 200px;
     }
     .titre-music{
         width: 100%;
         display: flex;
         flex-direction: column;
         justify-content: center;
         align-items: center;
        
     }
     .titre-music p{
         text-align: justify;
     }
     .bar-music{
         border: 1px black solid;
         border-radius: 20px;
         height: 50px;
         width: 100%;
         position: fixed;
         bottom: 0px;
         z-index:  1; 
         background-color: white;
         display: flex;
         justify-content: center;
         
     }
     .befor{
         margin-right: 5px;
     }
     .after{
        margin-right: 5px;
    }

     .lecture{
         width: 50%;
         display: flex;

     }
     .reapt{
         display: flex;
         width: 20px;
         justify-content: f;
     }
     .logo-2{
         margin-left: 30px;
     }
     .slide{
         width: 50%;
     }
     .playliste{
         height: 600px;
         display: flex;
         flex-direction: column;
         justify-content: ;

     }
     .titre-playlist{
         border: 1px black solid;
         display: flex;
         justify-content: center;
     }
     .contain{
         
         height: 500px;
         margin-top: 10Px;
         display: flex;
        flex-direction: row;
        flex-flow: row wrap;
        flex-wrap: wrap;
        justify-content: center;
       
    }
    .block-playlist{
        border: 1px  black solid;
        height: 45%;
        width: 46%;
        margin-top: 5px;
        margin-left: 5px;
    }
    .btn-p{
        text-align: center;
    }
    .logo-MSB3{
        display: none;
    }


}
