/* DESCRIPTION 

Information :

Auteurs / Mika / Benj / Stef
Date 23/11/2020
Name Project : MSB ( Musique super bien )
Version : 1.0.0
 
Colors :

Header   =
Body     =
Footer   =   
H1       =
P        =
BTN      =


*/


/* Global */

:root{
    --main-color: ;
    --degrader:linear-gradient(to right,rgb(172, 34, 34),yellow,orange);  
    --main2:    ;
    --main3:    ;
}

.test{
    background: var(--degrader);
    width: 100%;
    height: 100vh;

    

}

html{
    font-family: 'Prompt', sans-serif;
}

