/* DESCRIPTION 

Information :

Auteurs / Mika / Benj / Stef
Date 23/11/2020
Name Project : MSB ( Musique super bien )
Version : 1.0.0
 
Colors :

Header   =
Body     =
Footer   =   
H1       =
P        =
BTN      =


*/


/* Global */

html{
    font-family: 'Prompt', sans-serif;
}
h1{
    font-size: 35px;
}

/* connectez-vous */

.bg-monique{
    background-image: url(../image/miss\ monique.jpg);
    background-size: cover;
    height: 800px;
}
.flex-box1{   
    justify-content: center;
    align-content: center;
    align-self: center;
    align-items: center;
}
.flex-box2{
    justify-content: center;
    align-content: center;
    align-self: center;
    align-items: center;
}
.border-box{
    display: flex;
    flex-flow: column wrap;
    margin: 20px auto;   
    text-align: center;
    border: 1px solid black;
    width: 100%;
}