/* DESCRIPTION 

Information :

Auteurs / Mika / Benj / Stef
Date 23/11/2020
Name Project : MSB ( Musique super bien )
Version : 1.0.0
 
Colors :

Header   =
Body     =
Footer   =   
H1       =
P        =
BTN      =


*/


/* Global */

html{
    font-family: 'Prompt', sans-serif;
}
.titre{
    text-align: center;
}
.search-menu{
    
    height: 100px;


}
  
.search{
   ;
    height:50PX ;
   display: flex;

}

.bar{
         
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
}
input{
    width: 100%;
    margin-left: 15px;
}
.icone{
    
    width: 30%;
    height: 50PX;
    display: flex;
    justify-content: space-evenly;
}
i{
    font-size: 200%;
    height: 50PX;
    position: relative;
    right: 20PX;
    top:5PX
}
.photo-profile{
    width: 40PX;
    height: 50PX;
    border-radius:20px ;
   
}

.menu{
    border:1px  black solid ;
    height: 50PX;
    display: flex;
    justify-content: space-around;
    align-items: center;

}



 @media screen and (max-width:480px){ 
     .titre {
         text-align: center;
     }

     .search-menu{
         border: 1px black solid ;
         height: 100px;

     }
     
     .search{
         border: 1px  black solid;
         height:50PX ;
        display: flex;

     }
     .bar{
         
         width: 70%;
         display: flex;
         justify-content: center;
         align-items: center;
     }
     input{
         width: 100%;
         margin-left: 5px;
     }
     .icone{
         
         width: 30%;
         height: 50PX;
         display: flex;
         justify-content: flex-end;
     }
     i{
         font-size: 200%;
         height: 50PX;
         position: relative;
         right: 20PX;
         top:5PX
     }
     .photo-profile{
         width: 40PX;
         height: 50PX;
         border-radius:20px ;
         margin-bottom: 10px;
     }
     .menu{
         border:1px  black solid ;
         height: 50PX;
         display: flex;
         justify-content: space-around;
         align-items: center;
     }
     .musique{
        
         height: 400px;
         display: flex;
         flex-direction: column;
         width: 100%;

     }
     .photo-musique{
         width: 100%;
        height: 300px;
        display: flex;
        justify-content: center;
        align-items: center;

     }
     .photom{
         width: 200px;
         height: 200px;
     }
     .titre-music{
         width: 100%;
         display: flex;
         flex-direction: column;
         justify-content: center;
         align-items: center;
        
     }
     .titre-music p{
         text-align: justify;
     }
     .bar-music{
         border: 1px black solid;
         border-radius: 20px;
         height: 50px;
         width: 100%;
         position: fixed;
         bottom: 0px;
         z-index:  1; 
         background-color: white;
         display: flex;
         justify-content: center;
         
     }
     .befor{
         margin-right: 5px;
     }
     .after{
        margin-right: 5px;
    }

     .lecture{
         width: 50%;
         display: flex;

     }
     .reapt{
         display: flex;
         width: 20px;
         justify-content: f;
     }
     .logo-2{
         margin-left: 30px;
     }
     .slide{
         width: 50%;
     }
     .playliste{
         height: 600px;
         display: flex;
         flex-direction: column;
         justify-content: ;

     }
     .titre-playlist{
         border: 1px black solid;
         display: flex;
         justify-content: center;
     }
     .contain{
         border: 1px black solid;
         height: 500px;
         margin-top: 10Px;
         display: flex;
        flex-direction: row;
        flex-flow: row wrap;
        justify-content: center;
       
    }
    .block-playlist{
        border: 1px  black solid;
        height: 50%px;
        width: 45%;
        margin-top: 5px;
        margin-left: 5px;
        


    }

}
