/* DESCRIPTION 

Information :

Auteurs / Mika / Benj / Stef
Date 23/11/2020
Name Project : MSB ( Musique super bien )
Version : 1.0.0
 
Colors :

Header   = 
Body     =
Footer   =   
H1       =
P        =
BTN      =


*/


/* Global */

:root{
    --main-color: ;
    --degrader:linear-gradient(to right,rgba(172, 34, 34,0.9),orange,rgb(211, 132, 5),orange,rgba(172, 34, 34,0.9));  
    --btn-color1: rgb(218, 214, 19)  ;
    --btn-color2: rgb(238, 135, 17) ;
    --main3:    ;
}

.tricolor-linear{
    background: var(--degrader);
    
}
.btn-color1{
    background-color: var(--btn-color1);
    width: 300px;
    height: 60px;
    border: none;
    border-radius: 20px;
    color: azure;
    font-size: 25px;
    font-weight: bolder;
    box-shadow: 3px 3px 3px  black;
    text-align: center;
}
.btn-color1:hover{
    border: hidden;  
    background-color: var(--btn-color2);
    transform: scale(1.1);
    transition: all 1s;
    text-decoration: none;
    color: white;
}

html{
    font-family: 'Prompt', sans-serif;
}

