/* DESCRIPTION 

Information :

Auteurs / Mika / Benj / Stef
Date 23/11/2020
Name Project : MSB ( Musique super bien )
Version : 1.0.0
 
Colors :

Header   =
Body     =
Footer   =   
H1       =
P        =
BTN      =


*/


/* Global */

html{
    font-family: 'Prompt', sans-serif;    
}
h1{
    font-size: 30px;
    font-weight: bold;
}


/* sidebar */

.sidebar1{
    position: fixed;
}
.m-top-50{
    margin-top: 50px;
}
.m-80-30{
    margin: 80px 30px ;
}
.m-bot-100{
    margin-bottom: 100px;
}
a,a:hover{
    color: rgb(195, 167, 7);
    font-size: 20px;
    text-decoration: none;
}


/* profil user */


.photo-profil{
    width: 35PX;
    height: 35PX;
    border-radius:20px ;
   
}
.profil-user1 i{
    font-size: 130%;
    
}
.flex-start1{
    display: flex;
    align-items: center;
}
.flex-end1{
    display: flex;
    flex-flow:wrap row;
    justify-content: flex-end;
    align-items: center;
}
/* preferences */

.preferences1 img{
    border-radius: 5px;
}
.preferences1 img:hover{
    transform: scale(1.05);
    transition: all 0.5s;
    
}
.center-row{
    display: flex;
    justify-content: center;
    align-content: center;
}

.bgi1{
   width: 300px;
   height: 350px;
   text-align: center;
}
.bgi2{
    width: 300px;
   height: 350px;
    text-align: center;
 }
 .bgi3{
    width: 300px;
   height: 350px;
    text-align: center;
 }
 .bgi4{
    width: 300px;
    height: 350px;
    text-align: center;
 }
.flex-center1{
    
    text-align: center;
}
.size-p-22{
    font-size: 22px;
    font-weight: bold;
}

/* color genres */



.bgc1{
    background-image: linear-gradient(to right,rgba(72, 116, 173, 0.9),rgba(62, 64, 158, 0.9),rgba(20, 22, 139, 0.9)),url("");
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: azure;
    width: 250px;
    height: 150px;
    margin: auto;
    
}
.bgc1:hover{
    background-image: linear-gradient(to right,rgba(72, 116, 173, 0.8),rgba(62, 64, 158, 0.8),rgba(20, 22, 139, 0.8)),url("");
    transform: scale(1.05);
    transition: all 0.5s;
}
.bgc2{
    background-image: linear-gradient(to right,rgba(79, 160, 103, 0.9),rgba(62, 158, 91, 0.9),rgba(18, 160, 61, 0.9)),url("");
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: azure;
    width: 250px;
    height: 150px;
    margin: auto;
}
.bgc2:hover{
    background-image: linear-gradient(to right,rgba(69, 158, 76, 0.8),rgba(45, 158, 60, 0.8),rgba(14, 158, 26, 0.8)),url("");
    transform: scale(1.05);
    transition: all 0.5s;
}
.bgc3{
    background-image: linear-gradient(to right,rgba(150, 170, 76, 0.9),rgba(160, 185, 47, 0.9),rgba(184, 187, 15, 0.9)),url("");
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: azure;
    width: 250px;
    height: 150px;
    margin: auto;
}
.bgc3:hover{
    background-image: linear-gradient(to right,rgba(146, 168, 73, 0.8),rgba(184, 181, 52, 0.8),rgba(176, 187, 22, 0.8)),url("");
    transform: scale(1.05);
    transition: all 0.5s;
}
.bgc4{
    background-image: linear-gradient(to right,rgba(170, 106, 76, 0.9),rgba(199, 113, 33, 0.9),rgba(218, 113, 15, 0.9)),url("");
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: azure;
    width: 250px;
    height: 150px;
    margin: auto;
}
.bgc4:hover{
    background-image: linear-gradient(to right,rgba(184, 161, 58, 0.8),rgba(209, 144, 46, 0.8),rgba(187, 143, 22, 0.8)),url("");
    transform: scale(1.05);
    transition: all 0.5s;
}
/* media query */

@media   (max-width:1280px){
      
    .media1{
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;

    }  
    .preferences1 img{
        width: 150px;
        height: 150px;
    } 
    .logo-MSB2{
        width: 100px;
        height: 100px;
        margin: 50px auto;
        font-size: 20px;
    }
    
    .logo-MSB2 p{
        
        font-size: 30px;
    } 
    .bgc1,.bgc2,.bgc3,.bgc4{
        width: 150px;
        height: 150px;
     }  
    
    
@media (max-width:768px){
    .sidebar1{
        position: relative;
    }  
    .preferences1 img{
        width: 250px;
        height: 250px;
    } 
    
    .logo-MSB2{
        display: flex;
        justify-content: center;
        align-content: center;
        margin: 20px auto;
        
    }
    .bgc1,.bgc2,.bgc3,.bgc4{
        margin-bottom: 20px;
        width: 250px;
        height: 150px;
      
     }   
}
@media (max-width:576px){
    div{
        text-align: center;
    }
    .bgi1,.bgi2,.bgi3,.bgi4{
        margin: 0 auto;
    }
}