/* DESCRIPTION 

Information :

Auteurs / Mika / Benj / Stef
Date 23/11/2020
Name Project : MSB ( Musique super bien )
Version : 1.0.0
 
Colors :

Header   = 
Body     =
Footer   =   
H1       =
P        =
BTN      =


*/


/* Global */

:root{
    --main-color: ;
    --degrader:linear-gradient(to right,rgba(172, 34, 34,0.9),orange,rgb(211, 132, 5),orange,rgba(172, 34, 34,0.9));  
    --btn-color1: rgb(211, 132, 5)  ;
    --btn-color2: rgba(172, 34, 34,0.9) ;
    --main3:    ;
}

.tricolor-linear{
    background: var(--degrader);
    
}
.btn-color1{
    background-color: var(--btn-color1);
    width: 300px;
    height: 60px;
    border: none;
    border-radius: 20px;
    color: azure;
    font-size: 25px;
    font-weight: bolder;
    box-shadow: 3px 3px 3px  black;
    text-align: center;
}
.btn-color1:hover{
    border: hidden;  
    background-color: var(--btn-color2);
    transform: scale(1.1);
    transition: all 1s;
    text-decoration: none;
    color: white;
}

html{
    font-family: 'Prompt', sans-serif;
}
.pp{
    font-size: 20px;
    color: black;
}

/* Codes CSS & HTML pour le logo */
/*===========================================================*/

/*  Coller cette "div" en html  ==>  <div class="logo-MSB"><p>MSB</p></div> 
            
    Pour la version static ==>  <div class="logo-MSB2"><p>MSB</p></div> */

.logo-MSB, .logo-MSB2{
    background-image: url(/ressources/image/disque.jpg);
    background-size: cover;
    border: none;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    margin: auto;
    content: "MSB";
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    
}
.logo-MSB:hover{
    transform: rotate(360deg);
    transition: all 5s;
}    

.logo-MSB p, .logo-MSB2 p{
    
    margin-top: 0px ;
    color: azure;
    font-family:  'Bungee Shade', cursive;
    font-size: 50px;
}
/*============================================================*/

/* Navbar */

/* Coller ce code HTML en "Header" pour la navbar ==>

    <header>
        <nav >
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="row navbar">
                            <div class="col-md-4">
                                <a href="./index-accueil.html"><div class="logo-MSB2"><p>MSB</p></div></a> 
                            </div>
                            <div class="col-md-8 ">
                                <div class="row flex-nav">
                                    <div class="col-md-12">
                                        <div class="row">
                                            <div class="col-md-4 flex-col">
                                                <a href="./index-telecharger.html">Télécharger</a>
                                                <a href="./index-offres.html">Offres</a>
                                            </div>
                                            <div class="col-md-8 flex-col">
                                                <button class="btn-color1"><a href="./index-connexion.html">Connexion</a></button>
                                                <button class="btn-color1"><a href="./index-inscription.html">Inscription</a></button>
                                            </div>
                                        </div>   
                                    </div>
                                </div> 
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </nav>    
    </header>

==============================================================*/    
/*Navbar*/

nav .navbar button a,nav .navbar button a:hover{
    text-decoration: none;
    color: azure;
}
nav .navbar a,nav .navbar a:hover{
    color: black;
    font-size: 25px;
    font-weight: bold;
}
nav .navbar .flex-nav a:hover{
    text-decoration: underline 4px orange;
    text-underline-offset: 20px ;
}
nav .navbar .flex-nav button a:hover{
    text-decoration: none;
}    
nav .navbar .flex-nav{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-content: center;
    align-items: center;
    height: 250px;
}
 nav .navbar button{
     width: 200px!important;
 }
 .flex-nav .flex-col{
     display: flex;
     flex-flow: row wrap;
     justify-content: space-around;
     padding: 0px;
     align-content: center;

 }
@media (max-width:1280px) {
    nav .navbar .flex-nav{ 
        display: flex;
        flex-flow: row wrap;
        height: 300px;
    }
    button,a{
        margin-top: 40px;
    }
     a:hover{
         
         text-decoration: none;
     }                             
}
@media (max-width:1000px) {
   
    .logo-MSB,.logo-MSB2{
        width: 200px;
        height: 200px;
        
    }
    .logo-MSB p,.logo-MSB2 p{
        font-size: 50px;
    } 
}
@media (max-width:768px) {

    .logo-MSB,.logo-MSB2{
        width: 150px;
        height: 150px;
        
    }
    .logo-MSB p,.logo-MSB2 p{
        font-size: 40px;
    } 
}

 /*=============================================================*/